In [1]:
%load_ext mypy_ipython

**Python** keeps track of variable data types internally. Use *typing* to specify data types, however this is not utilized or relevant for the runtime, it is purely a convenience for documenation.

*Python* has many data types. The important ones are

1. Boolean (True / False)
2. Numebrs (int, float, fraction or even complex numbers)
3. String (unicode characters)
4. Bytes and byte arrays (example. binary image data)
5. Lists (ordered sequence of values, arrays in other languages)
6. Tuples (immutable sequences of value, the difference between list and tupels is that lists are mutable)
7. Sets (unordered collection / bag of values)
8. Dictionaries (unordered collection / bag of key value pairs)

There are more types, *everything is an object* is Python. So there are types like *modules, functions, class, files* and even compiled code.

##### Booleans

Booleans has two values _True_ and _False_

In certain places like and _If_ statement, Python expects the expression to evaluate to a *bool*. You can use virtually any expression in a boolean context and Python will try to determine truth value **do not do this, determine boolean value in code**

Different dataypes have different rules about which values are true or false in a boolean context.

##### Numbers
Python supports both integers (int) and floating point numbers (float). There is no way to distinguish them other than the presence or absence of a decimal point

In [2]:
print(type(1))
print(isinstance(1, int))
print(1 + 1)
print(1 + 1.0)
print(type(2.0))

<class 'int'>
True
2
2.0
<class 'float'>

Python coerces the _int_ to a _float_ when adding an _int_ to a _float_ and return a _float_

In [3]:
# operations on numbers

print(11/2)
print(11//2)
print(11.0/2)
print(float(11)//2)
print(11**2)
print(11%2)

5.5
5
5.5
5.0
121
1

###### Fractions
Python isn't limited to integers and floating point numbers.

In [4]:
import fractions
x = fractions.Fraction(1, 3)

In [5]:
print(x)

1/3

In [6]:
x*2

Fraction(2, 3)

In [7]:
fractions.Fraction(6, 4)

Fraction(3, 2)

###### Trignometry
Python supports trignometry using the _math_ module. The math module has all the basic trignometric functions, including *sin(), cos(), tan()* and variants like *asin()*

In [8]:
import math
math.pi

3.141592653589793

In [9]:
math.sin(math.pi / 2)

1.0

In [10]:
math.tan(math.pi / 4)

0.9999999999999999

##### Typing

There is a special **Any** type indicating an unconstrained type

* Every type is compatible with **Any**
* **Any** is compatible with every type

A static type checker will treat every type as beinc compatible with Any and Any as being compatible with every type.

This means that is is possible to perform *any* operations or method call on a value of type **Any** and assign it to *any* variable.

```python
from typing import Any

a = None    # type: Any
a = []      # OK
a = 2       # OK

s = ''      # type: str
s = a       # OK

# valid
def foo(item: Any) -> int:
    item.bar()
```

No typechecking is performed when assigning a value of **Any** to a more precise type. This behavior allows **Any** to be used as an escape hatch when you need to mix dynamically and statically typed code.


Contrast the behavior of **Any** with the behavior of **object**. Similar to **Any**, every type is a subtype of **object**. However unlike **Any**, **object** is *NOT* a subtype of every other type.

Use **object** to indicate that a value could be of _any_ type in a a typesafe manner. Use **Any** to indicate that the value is dynamically typed.

In [11]:
from typing import Any
a: Any = None
a = []
a = 2

In [12]:
s = ''
s = a

In [13]:
from typing import Any
def foo(item: Any) -> int:
    item.bar()
    return 10

In [14]:
try:
    foo(10)
except AttributeError:
    print("int does not have an attribute bar, but the method is invoked")

int does not have an attribute bar, but the method is invoked

In [16]:
%mypy
def bar(item: object) -> int:
    item.foo()
    return 10

note: In function "bar":
        item.foo()
error: "object" has no attribute "foo"
Found 1 error in 1 file (checked 1 source file)

Type checking failed

#### Lists
**Lists** in Python are like genericized arrays in Java. Dynamic typing avoids the covariant and contravariant problems of Java arrays. The List type can be thought of as having the generic type **Any**, it can hold arbitrary objects and can expand dynamically as new items are added;

In [20]:
from typing import List
a_list: List[str] = ['a', 'b', 'mpilgrim', 'z', 'example']
a_list

['a', 'b', 'mpilgrim', 'z', 'example']

In [21]:
a_list[0]

'a'

In [22]:
a_list[4]

'example'

In [23]:
a_list[-1]

'example'

In [25]:
a_list[-3]

'mpilgrim'

List indices are zero based, negative indices count backwards from the end of the list. The last item of any non-empty list is `a_list[-1]`. If the negative index is confusing 

```python
a_list[-n] = a_list[len(a_list) - n]
```

**Slicing a list**

In [26]:
a_list[1:3]

['b', 'mpilgrim']

In [27]:
a_list[1:-1]

['b', 'mpilgrim', 'z']

In [28]:
a_list[1:]

['b', 'mpilgrim', 'z', 'example']

In [29]:
a_list[0:3]

['a', 'b', 'mpilgrim']

In [30]:
a_list[:]

['a', 'b', 'mpilgrim', 'z', 'example']

In [31]:
a_list[:3]

['a', 'b', 'mpilgrim']

In [32]:
a_list[-1:2]

[]

A list can be sliced by specifying two indices. The return value is a *new* list. Slicing works with negative indices. The first slice index specifies the first item in the slice and the second index specifies the first item not in the slice.

If the first index is after the second index as in the example `a_list[-1:2]`, which also uses negative indices, you get back and empty list.

If the left index is `0` you can leave it out, as `0` is implied. Similarly you can leave out the right index to imply the last index of the list.

If both slice indices are left out, all items of the list are included. But this is not the same as the original list. It is a *new* list with all the same items.

`a_list[:]` is shorthand for making a complete copy of a list

**Adding items to a list**

In [33]:
a_list

['a', 'b', 'mpilgrim', 'z', 'example']

In [34]:
a_list = ['a']

In [35]:
a_list = a_list + [2.0, 3]

In [36]:
a_list

['a', 2.0, 3]

In [37]:
a_list.append(True)

In [38]:
a_list

['a', 2.0, 3, True]

In [40]:
a_list.extend(['four', 'O'])

In [41]:
a_list

['a', 2.0, 3, True, 'four', 'O']

In [42]:
a_list.insert(0, 'O')

In [44]:
a_list

['O', 'a', 2.0, 3, True, 'four', 'O']

The `+` operator concatenates lists to create a new list. The original list is not modified

In [56]:
f = [1, 2, 3]
g = f + [4, 5, 6]
f

[1, 2, 3]

In [57]:
g

[1, 2, 3, 4, 5, 6]

In [58]:
g[0] = 10
g

[10, 2, 3, 4, 5, 6]

In [59]:
f

[1, 2, 3]

The append method adds a single item to the list, the extend method takes one argument a list and appends each of the items of the arguments to the original list

In [60]:
f.extend([4, 5, 6])
f

[1, 2, 3, 4, 5, 6]

`insert` inserts a single item into a list. The first argument is the index of the first item in the list that will get bumped out of position. Lists can have duplicate items

In [61]:
f.insert(3, 40)
f

[1, 2, 3, 40, 4, 5, 6]

In [62]:
f[3] = 4
f

[1, 2, 3, 4, 4, 5, 6]

**Searching for values in a List**

In [63]:
a_list = ['a', 'b', 'new', 'mpilgrim', 'new']

In [64]:
a_list.count('new')

2

In [65]:
'new' in a_list

True

In [66]:
'c' in a_list

False

In [67]:
a_list.index('new')

2

If a value is not found in the list, the `index()` method will raise and exception. This is different from most languages which will return some invalid index (like -1). Remember, -1 is a valid list index.

**Removing items from a list**

In [68]:
a_list = ['a', 'b', 'new', 'mpilgrim', 'new']

In [69]:
del a_list[1]

In [70]:
a_list

['a', 'new', 'mpilgrim', 'new']

In [71]:
a_list.remove('new')

In [72]:
a_list

['a', 'mpilgrim', 'new']

Another way to remove items from a list is to use the `pop` method. When using the `append` (think push) method to add items to a list, `pop` is the stack equivalent of removing items from a list

In [77]:
def push(stk, v):
    stk.append(v)
    
def pop(stk):
    return stk.pop()

In [78]:
stk = []
push(stk, 10)
push(stk, 11)
push(stk, 12)
stk

[10, 11, 12]

In [79]:
pop(stk)

12

In [80]:
pop(stk)

11

In [81]:
stk

[10]

An empty list in a boolean context is `False` a non empty list is `True`, the value / contents of the List are not relevant. Enought about this, don't use this.

#### Tuples

A tuple is an immutable list, it cannot be change in any way once it is created.

In [82]:
a_tuple = ('a', 'tuple', 'is', 'immutable')

In [83]:
a_tuple[2]

'is'

*Tuple* do not support `extend`, `append` or `assignment` of values at an index. Both the tuple and its stored values are immutable

The code
```python
a_tuple[2] = 'was'
```
will result in an error

In [87]:
a_tuple = tuple(['a', 'b', 'c'])
a_tuple

('a', 'b', 'c')

In [88]:
a_list = list((1, 2, 3))
a_list

[1, 2, 3]

In [89]:
'a' in a_tuple

True

In [91]:
a_tuple[:2]

('a', 'b')

In [93]:
a_tuple[2:]

('c',)

In [94]:
a_tuple[-1]

'c'

In [95]:
if (1,):
    print("it is true")
else:
    print("it is false")

it is true

In [96]:
if ():
    print("it is true")
else:
    print("it is false")

it is false

In [97]:
if (False,):
    print("it is true")
else:
    print("it is false")

it is true

An empty tuple is `False` in a boolean context, all other tuples are `True`

##### Sets

A set is an _unordered_ "bag" of _unique_ values. A single set can contain values of any immutable datatype. Once you have two sets, you can do standard set operations like `union`, `intersection` and `difference`.

In [103]:
a_set = {1}
a_set

{1}

In [102]:
type(a_set)

set

In [104]:
a_set = {1, 2, 3, 4}
a_set

{1, 2, 3, 4}

In [106]:
a_set = set(a_list)
a_set

{1, 2, 3}

In [108]:
a_set = set(a_tuple)
a_set

{'a', 'b', 'c'}

In [109]:
set([1, 2, 3, 1, 2, 3, 4, 5])

{1, 2, 3, 4, 5}

Due to historical quirks, one cannot create a set with `{}`, this creates a `dict`. Use `set()` to create an empty set

In [112]:
type({})

dict

In [113]:
type(set())

set

**Sets** can be modified using either the `add()` method or the `update()` method. The update method is similar to `list.extend` and add is similar to `list.append`

In [114]:
a_set = {1, 2}
a_set.add(4)
len(a_set)

3

In [115]:
a_set.add(1)
len(a_set)

3

In [116]:
a_set

{1, 2, 4}

In [117]:
a_set = {1, 2, 3}
a_set.update({3, 4, 6}, [10, 20, 30])
len(a_set)

8

In [118]:
a_set

{1, 2, 3, 4, 6, 10, 20, 30}

**Removing items from a Set**

There are three ways to remove individual items from a set `remove`, `discard` and `pop`.

The `discard` and `remove` methods take a single value as an argument and remove that value from the set. The key difference is behavior when the value being removed is not present in the set, `remove` raises a `KeyError` exception while `discard` does nothing.

Like lists sets has a `pop()` method. However since sets are _unordered_, there is no "last" value in a set, so there is no way to control which value gets removed. It is completely arbitrary.

In [122]:
a_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
len(a_set)

9

In [128]:
a_set.remove(2)
len(a_set)

8

In [125]:
# discard won't throw an error
a_set.discard(2)
len(a_set)

8

In [127]:
a_set.add(2)
a_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [131]:
a_set.clear()
len(a_set)

0

**Common Set Operations**

Python's `set` type support several common set operations

In [132]:
a_set = {2, 4, 5, 9, 12, 21, 30, 51, 76, 127, 195}
30 in a_set

True

In [133]:
31 in a_set

False

In [134]:
b_set = {1, 2, 3, 5, 6, 8, 9, 12, 15, 17, 18, 21}
a_set.union(b_set)

{1, 2, 3, 4, 5, 6, 8, 9, 12, 15, 17, 18, 21, 30, 51, 76, 127, 195}

In [136]:
a_set.intersection(b_set)

{2, 5, 9, 12, 21}

In [137]:
a_set.difference(b_set)

{4, 30, 51, 76, 127, 195}

In [139]:
# symmetric difference method returns a new set containing all the element
# that are in **exactly one** of the sets
a_set.symmetric_difference(b_set)

{1, 3, 4, 6, 8, 15, 17, 18, 30, 51, 76, 127, 195}

Three of the methods on sets are symmetrics

In [140]:
a_set = {2, 4, 5, 9, 12, 21, 30, 51, 76, 127, 195}
b_set = {1, 2, 3, 5, 6, 8, 9, 12, 15, 17, 18, 21}

In [141]:
a_set.union(b_set) == b_set.union(a_set)

True

In [142]:
a_set.symmetric_difference(b_set) == b_set.symmetric_difference(a_set)

True

In [143]:
a_set.intersection(b_set) == b_set.intersection(a_set)

True

In [144]:
# difference is not symmetric
a_set.difference(b_set) == b_set.difference(a_set)

False

In [145]:
a_set.difference(b_set)

{4, 30, 51, 76, 127, 195}

In [146]:
b_set.difference(a_set)

{1, 3, 6, 8, 15, 17, 18}

You can use sets in a boolean context, similar to other datatype we've seen so far, empty sets are `False` and any non empty set is `True`. Don't use this.

##### Dictionary

A dictionary is an unordered set of key-value pairs. When you add a key to a dictionary you must also add a value for that key. Dictionaries are optimized for key based retrieval.


***Creating a dictionary**

Creating a dictionary is easy. The syntax is similar to _sets_ but instead of values, you have key-value pairs.

In [161]:
a_dict = { 'server' : 'db.diveintopythong.org', 'database': 'mysql'}
a_dict

{'server': 'db.diveintopythong.org', 'database': 'mysql'}

In [149]:
a_dict['server']

'db.diveintopythong.org'

In [150]:
a_dict['database']

'mysql'

In [153]:
try:
    a_dict['missing_key']
except KeyError:
    print("Retrieval using a key not in a dict results in a KeyError")

Retrieval using a key not in a dict results in a KeyError

**Modifying a dictionary**

You can add key value pairs to a dictionary at any time, or modify the value of an existing key.

In [154]:
a_dict

{'server': 'db.diveintopythong.org', 'database': 'mysql'}

In [162]:
# modify an existing key
a_dict['database'] ='blog'
a_dict

{'server': 'db.diveintopythong.org', 'database': 'blog'}

In [163]:
# add a new key value
a_dict['user'] = 'mark'
a_dict

{'server': 'db.diveintopythong.org', 'database': 'blog', 'user': 'mark'}

In [164]:
len(a_dict)

3

In [165]:
'user' in a_dict

True

In [166]:
'xx' in a_dict

False

An empty dictionary `{}` is `False` is a boolean context, all other dictionaries are `True`

##### None

*None* is a special constant. It is a null value. *None* is **not** the same as *False*. *None* is **not** `0`. *None* is **not** _empty_. Comparing _None_ to anything other than _None_ results in _False_

*None* is the only _null_ value in Python. It has its own datatype (_NoneType_). You can assign _None_ to any variable, but you cannot create other _NoneType_ instances. All variables whole value is _None_ are equal to each other

In [168]:
type(None)

NoneType

In [171]:
print(None == False)
print(None == None)
print(None == 0)
print(None == '')

False
True
False
False

**None** is a boolean context is `False` and **not None** is `True